*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, san-serif;
    background-color: #fdf6f3;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #fdf6f3;
    position: fixed;  /* Makes the navbar fixed */
    top: 0;           /* Fixes it to the top */
    width: 100%;      /* Ensures the navbar spans the full width */
    z-index: 1000;    /* Keeps the navbar on top of other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-link li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.nav-link li a:hover{
    color:white;
    background-color: midnightblue;
}

.hire-me-btn{
    background-color: #ff6600;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.hire-me-btn:hover{
    background-color: blue;
}


/*Section */

